*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.rectangle {
    height: 10vh;
    width:5vw;
    background-color: #933;
}