* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(180deg,#ff8875,#ff5222);
}

body nav {
    width:80%;
}

body nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(180deg,#ffd863,#ffc569);
    height:8vh;
    border-radius: 15px;
    font-size: 20px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    color: #003379;
}

/* body nav ul li::before{
    content: "";
    height:100%;
    width:100%;
    position: relative;
    left:55px;
    background: linear-gradient(180deg,#ff3675,#ff32aa);
    cursor: pointer;
} */

body nav ul li:hover::before{
    content: "";
    height:10vh;
    width:20vw;
    position: relative;
    left:55px;
    background: linear-gradient(180deg,#ff3675,#ff32aa);
    cursor: pointer;
    cursor: pointer;
}