body {
    margin: 0;
    text-align: center;
    background: #0f0f0f;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

.hightlight {
    background-color: yellow;
    padding: 5px;
    color: black;
}

.hidden {
    display: none;
}