*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    background: linear-gradient(130deg,#181821,#79c713);
}

.main-Container{
    width:35%;


}

